.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-header);
  height: var(--header-height);
  color: var(--primary-text-color);
  background: transparent;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.active {
  color: var(--secondary-text-color);
  background: var(--secondary-bg);
}

.nav {
  height: 100%;
}

.navList {
  display: flex;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.linkText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    content: '';
    border-bottom: 2px solid var(--primary-text-color);
    transition: width 300ms ease-in-out;
    will-change: width;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--side-padding);
  color: inherit;

  &:hover {
    .linkText::after {
      width: 100%;
    }
  }
}

.theme {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
}
