.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: normal;
  line-height: 110%;

  @media (width >= 768px) {
    font-size: 32px;
  }

  @media (width >= 1440px) {
    font-size: 42px;
  }
}

.textWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @media (width >= 768px) {
    max-width: 60%;
  }

  @media (width >= 1440px) {
    max-width: 50%;
  }
}
