.page {
  min-height: calc(100vh - var(--header-height) - 40px);
  margin-top: calc(var(--header-height) + 40px);

  @supports (height: 100dvh) {
    height: calc(100dvh - var(--header-height) - 40px);
    margin-top: calc(var(--header-height) + 20px);
  }
}
