.page {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  border: 1px solid red;

  @supports (height: 100dvh) {
    height: calc(100dvh - var(--header-height));
  }
}
