html,
body {
  scrollbar-gutter: stable;
}

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

:where(:root) {
  line-height: 1.5;
  overflow-wrap: break-word;
  tab-size: 4;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  margin: 0;
  font-size: 2em;
}

:where(a) {
  text-decoration: none;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  height: 0;
  color: inherit;
}

:where(ol, ul) {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:where(nav) :where(ol, ul) {
  padding: 0;
  list-style-type: none;
}

:where(nav li)::before {
  float: left;
  content: '\200B';
}

:where(pre) {
  overflow: auto;
  font-family: Inter, sans-serif;
  font-size: 1em;
}

:where(abbr[title]) {
  text-decoration: underline;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: Inter, sans-serif;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentcolor;
}

:where(table) {
  text-indent: 0;
  border-collapse: collapse;
  border-color: inherit;
}

:where(button, input, select) {
  margin: 0;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type='search' i]) {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

:where(dialog) {
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: auto;
  color: black;
  background-color: white;
  border: solid;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy='true' i]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-disabled='true' i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden='false' i][hidden]) {
  display: initial;
}

:where([aria-hidden='false' i][hidden]:not(:focus)) {
  clip-path: inset(50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
