:root {
  /* COLORS */
  --primary-text-color: #000000fd;
  --secondary-text-color: #fff;
  --primary-bg: rgb(244 242 241 / 100%);
  --secondary-bg: rgb(19 23 19 / 100%);

  /* HEIGHT WIDTH */
  --header-height: 40px;

  /* PADDING */
  --side-padding: 20px;

  /* RADIUS */

  /* Z-INDEX */
  --z-index-popup: 100;
  --z-index-header: 50;
  --z-index-default: 1;
  --z-index-zero: 0;
  --z-index-back: -1;

  @media (width >= 768px) {
    --side-padding: 30px;
    --header-height: 50px;
  }

  @media (width >= 1440px) {
    --side-padding: 40px;
    --header-height: 80px;
  }

  @media (width >= 1920px) {
    --side-padding: 80px;
  }
}
